@import '../../styles/variables.scss';

.badge {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 30px;
  background-color: $light-gray;
  border: 1px solid $gray;
  color: $dark-blue;
  font-size: 14px;
}