$white: white;
$black: #151516;
$primary-blue: #0197FA;
$dark-blue: #11467b;
$dark-blue2: #0E3F7E05;
$light-blue: #E5F4FE;
$red: red;
$gray: #EBEDF0;
$light-gray: #F9FAFB;
$dark-gray: #667388;
$slate-blue: #657388;
$lavender: #F3EEFE;
$purple: #8b5cf6;
